@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');
@import "https://fonts.googleapis.com/css?family=Raleway:400,300,200,500,600,700";
body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color: #505962;
}


/*Nav offset class*/

.offset:before {
    height: 4rem;
    margin-top: -4rem;
    content: "";
    display: block;
}


/*remove extra padding*/

[class*="col-"] {
    padding: 1rem;
}

.navbar-brand img {
    height: 5rem;
}

.navbar-brand span {
    font-size: 22px;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    padding: 0 0 0 10px;
    color: #00CC00;
}

.navbar-brand b {
    display: block;
    font-size: 70%;
    line-height: 1;
}

.navbar {
    padding: .7rem 1rem;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 700;
    letter-spacing: .1rem;
    transition: background-color .5s ease 0s;
    background: #443266;
    border-bottom: rgb(8, 8, 8) 3px solid;
}

.svg-inline--fa.fa-w-14 {
    color: #fff;
    font-size: 1.6rem;
}

.navbar-nav li {
    padding-right: .8rem;
}

.navbar-nav .nav-link {
    color: #fff;
    padding-top: .8rem;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    color: #00CC00;
}

.navbar.solid {
    background: rgba(68, 50, 102, 0.7)!important;
    transition: background-color .1s ease 0s;
}

.dropdown-menu {
    background-color: rgba(68, 50, 102, 0.6) !important;
}

.dropdown-item {
    color: #fff !important;
    font-size: 0.8rem !important;
}

.dropdown-item:hover {
    background-color: #00CC00 !important;
}

.dropdown-menu {
    background-color: none !important;
    ecolor: #000 !important;
}

.home-inner {
    background-image: url('img/schoolGate2.png');
}

.gallery-inner {
    background-image: url('img/gallery/anniversary/Dinner/gregsFieldGallery.png')!important;
    background-size: contain !important;
}

.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
}

.caption h1 {
    font-size: 4.5rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
}

.caption h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 2rem;
    letter-spacing: .6rem;
}

.btn-lg {
    border-width: medium;
    border-radius: 10px;
    padding: .8rem 1.5rem;
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block !important;
    margin: 10px;
}

.narrow {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}

.row-padding {
    margin-top: 6rem;
}

.btn-sm {
    border-width: medium;
    border-radius: 10px;
    padding: .5rem 1.1rem;
    font-size: .9rem;
    font-weight: 400;
    text-transform: uppercase;
    margin: 1rem;
}

.btn-turquoise {
    border-color: #1ebba3;
    background-color: #1ebba3;
    color: #fff;
}

.btn-turquoise:hover,
.btn-turquoise:focus {
    border-color: #189582;
    background-color: #189582;
    color: #fff;
}

h5 {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
    margin: 0;
}

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-img-top {
    display: block;
    width: 100%;
    height: 370px;
}

.card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
}

.card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
}

.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
}

.card-inverse .btn {
    border: 1px solid rgba(0, 0, 0, .05);
}

.profile {
    position: absolute;
    top: -12px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 50%;
}

.profile-avatar {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profile-inline {
    position: relative;
    top: 0;
    display: inline-block;
}

.profile-inline~.card-title {
    display: inline-block;
    margin-left: 4px;
    vertical-align: top;
}

.text-bold {
    font-weight: 700;
}

.meta {
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
}

.meta a {
    text-decoration: none;
    color: rgba(0, 0, 0, .4);
}

.meta a:hover {
    color: rgba(0, 0, 0, .87);
}