@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');
@import "https://fonts.googleapis.com/css?family=Raleway:400,300,200,500,600,700";
body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color: #505962;
}


/*Nav offset class*/

.offset:before {
    height: 4rem;
    margin-top: -4rem;
    content: "";
    display: block;
}


/*remove extra padding*/

[class*="col-"] {
    padding: 1rem;
}

.navbar-brand img {
    height: 5rem;
}

.navbar-brand span {
    font-size: 22px;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    padding: 0 0 0 10px;
    color: #00CC00;
}

.navbar-brand b {
    display: block;
    font-size: 70%;
    line-height: 1;
}

.navbar {
    padding: .7rem 1rem;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 700;
    letter-spacing: .1rem;
    transition: background-color .5s ease 0s;
    background: #443266;
    border-bottom: rgb(8, 8, 8) 3px solid;
}

.svg-inline--fa.fa-w-14 {
    color: #fff;
    font-size: 1.6rem;
}

.navbar-nav li {
    padding-right: .8rem;
}

.navbar-nav .nav-link {
    color: #fff;
    padding-top: .8rem;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    color: #00CC00;
}

.navbar.solid {
    background: rgba(68, 50, 102, 0.7)!important;
    transition: background-color .1s ease 0s;
}

.dropdown-menu {
    background-color: rgba(68, 50, 102, 0.6) !important;
}

.dropdown-item {
    color: #000 !important;
    font-size: 0.8rem !important;
    font-weight: 200 !important;
}

.dropdown-menu:hover {
    background-colors: #00CC00 !important;
    ecolor: #000 !important;
}

.home-inner {
    background-image: url('img/schoolGate2.png');
}

.gallery-inner {
    background-image: url('img/gallery/anniversary/Dinner/gregsFieldGallery.png')!important;
    background-size: contain !important;
}

.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
}

.caption h1 {
    font-size: 4.5rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
}

.caption h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 2rem;
    letter-spacing: .6rem;
}

.btn-lg {
    border-width: medium;
    border-radius: 10px;
    padding: .8rem 1.5rem;
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block !important;
    margin: 10px;
}

.narrow {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}

.row-padding {
    margin-top: 6rem;
}

.btn-sm {
    border-width: medium;
    border-radius: 10px;
    padding: .5rem 1.1rem;
    font-size: .9rem;
    font-weight: 400;
    text-transform: uppercase;
    margin: 1rem;
}

.btn-turquoise {
    border-color: #1ebba3;
    background-color: #1ebba3;
    color: #fff;
}

.btn-turquoise:hover,
.btn-turquoise:focus {
    border-color: #189582;
    background-color: #189582;
    color: #fff;
}

.jumbotron {
    margin-bottom: 0;
    border-radius: 0;
    padding: 1rem 0 3rem;
}

h3.heading {
    font-size: 3.5rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.9rem;
    color: #000;
}

h3 svg.svg-inline--fa {
    color: #00CC00;
}

.heading-underline {
    width: 15rem;
    height: .1rem;
    background-color: #00CC00;
    margin: 0 auto 2rem;
}

.about-img {
    padding: 1rem;
    margin-top: .3rem
}

#more {
    display: none;
}

#readMoreBtn {
    text-transform: lowercase !important;
    padding: .2rem .7rem !important;
    background-color: #00CC00 !important;
    border-color: #00CC00;
    margin: .5rem !important;
}

.feature {
    text-align: center;
}

.feature .fa-layers {
    color: #1ebba3;
    height: 6rem;
    margin: 0 auto;
    width: 3.9rem;
}

.feature h3 {
    font-size: 1.3rem;
    text-transform: uppercase;
    padding-bottom: .4rem;
}

.feature p {
    font-size: 1.1rem;
}


/*fixed Bg IMAGE*/

#fixed {
    background-image: url('img/fixed/apple.png');
    z-index: -1;
}

.dark {
    background-color: rgba(0, 0, 0, .9);
    padding: 7rem 2rem;
    text-align: center;
    z-index: 1000 !important;
}

.dark h3,
.dark p {
    color: #e9ecef;
}

.row.padding {
    padding: 2rem 0 1rem;
}

img.example-image {
    max-width: 100%;
}

.row.no-padding [class*=col-] {
    padding: 0;
}

.portfolio-item img:hover {
    transform: scale(1.3);
    cursor: zoom-in;
}

.portfolio-item img {
    transition: transform .4s ease;
}

.portfolio-item {
    overflow: hidden;
}

.pricing-column {
    background-color: #fff;
    padding: 2rem;
    border-top: .2rem solid #1ebba3;
    box-shadow: 0 0 .8rem rgba(0, 0, 0, .075);
    transition: transform .7s ease;
    overflow: hidden;
    position: relative;
}

.pricing-column:hover {
    transform: scale(1.1);
}

.pricing-column h3 {
    padding: 1rem;
    border-bottom: .1rem solid rgba(0, 0, 0, .1)
}

.pricing-column p {
    opacity: .8;
    margin-top: 1.3rem;
}

.pricing-column h4 {
    font-size: 1.1rem;
    padding: .4rem;
}

.pricing-column .item {
    font-weight: 700;
}

.pricing-column h1 {
    padding: .8rem 0;
}

.ribbon {
    background-color: #6c757d;
    color: #fff;
    width: 10rem;
    height: 2rem;
    font-size: .8rem;
    font-weight: 700;
    padding-top: .4rem;
    position: absolute;
    right: -2.8rem;
    top: 1.6rem;
    transform: rotate(45deg);
    box-shadow: 0 0 .2rem rgba(0, 0, 0, .025);
}

#fixed-2 {
    background-image: url('img/fixed/office.png');
    z-index: -1;
}

.light {
    background-color: rgba(255, 255, 255, .8);
    padding: 3rem 2rem 2rem;
    z-index: 1000 !important;
}

.card {
    border-radius: 0;
    border: .1rem solid rgba(0, 0, 0, .075);
    box-shadow: 0 0 .8rem rgba(0, 0, 0, .075);
    margin: 0 1rem;
    transition: transform .4s ease;
    background-color: rgba(68, 50, 102, 0.9);
    color: #fff;
}

.card-image-top {
    border-radius: 0;
}

.card:hover {
    transform: scale(.95);
}

.card h4 {
    font-weight: 700;
}

.card h5 {
    color: #00CC00;
}

.card p {
    border-top: .1rem solid rgba(0, 0, 0, .1);
    border-bottom: .1rem solid rgba(0, 0, 0, .1);
    padding: 1rem;
    margin: 1rem 0 1.5rem;
}

.card svg.svg-inline--fa {
    color: #00CC00;
    font-size: 1.3rem;
    width: 2rem;
}

.card svg.svg-inline--fa:hover {
    color: #6c757d !important;
}

.owl-dot.active span,
.owl-dot:hover span {
    background-color: #00CC00 !important;
}

.clients img {
    width: 100%;
    border-radius: 50%;
    height: auto;
    transition: transform .3s ease;
}

.clients img:hover {
    transform: scale(.95);
}

blockquote .svg-inline--fa {
    margin: 1rem;
    color: #1ebba3;
}

.clients-hr {
    border-top: 0.05rem solid #443266;
}

.skill h3 {
    color: #1ebba3;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 1rem 0 .5rem;
}

.skill p {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 700
}

#contact {
    background: url('img/footer/contactUsBackground.jpg') no-repeat;
    background-size: cover;
    color: #fff;
}

#contact .row {
    background-color: rgba(57, 63, 70, .85);
    padding: 1rem 2rem 3rem;
}

#contact img {
    height: 2rem;
    margin: 1.5rem 0;
}

#contact a {
    color: #fff;
}

#contact svg.svg-inline--fa {
    font-size: 1.6rem;
    margin: 1.2rem .5rem 0 0;
}

#contact svg.svg-inline--fa:hover {
    color: #1ebba3 !important;
}

#contact h3 {
    text-transform: uppercase;
    margin: 1.5rem 0;
}

.form-group {
    margin-bottom: 1.3rem
}

.form-control {
    background-color: #fff;
    border: .15rem solid #666b71;
    color: #fff !important;
    font-size: 1.1rem;
}

.form-control:focus {
    background: #53595f;
    border: .15rem solid #666b71;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #b2b5b8 !important;
}

input.btn {
    cursor: pointer;
}

hr.socket {
    border-top: .2rem solid #666b71;
    width: 100%;
}

.top-scroll svg.svg-inline--fa {
    font-size: 3rem;
    height: 1.7rem;
    color: #535353;
    background: #fff;
}

a.top-scroll {
    right: 1.2rem;
    bottom: 1.2rem;
    position: fixed;
    opacity: .3;
    z-index: 1000;
    display: none;
}

a.top-scroll:hover {
    opacity: .7;
}

footer {
    background: #443266;
    color: #00CC00;
}

.col-auto svg.svg-inline--fa {
    color: #00CC00 !important;
}


/* Container */

.container .product {
    position: relative;
    overflow: hidden;
    width: 250px;
    height: 300px;
    border-radius: 4px;
    background-color: #443266;
    margin-left: 50px;
    padding: 15px;
}

.container .product img {
    position: relative;
    top: -15px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 100% 70%);
    clip-path: polygon(0 100%, 0 0, 100% 0, 100% 70%);
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.container .product img:hover {
    -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
    clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.container .product h2 {
    text-align: left;
    color: #00CC00;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 4px;
}

.container .product .btn a {
    position: absolute;
    font-size: 11px;
    font-weight: bold;
    float: right;
    padding: 10px;
    border: 2px solid #00CC00;
    border-radius: 10px;
    bottom: 10px;
    right: 10px;
    color: #00CC00;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    text-decoration: none;
}

.container .product .btn.ok {
    background-color: rgba(0, 254, 254, 0.4);
    color: #fff;
}

.container .product .btn.ok:after {
    content: "\e080";
    color: #fff;
}

.container .product .btn:hover {
    padding-right: 25px;
}

.container .product .btn:hover:after {
    margin-left: 5px;
}


/*Membership area*/

.fa-spin-fast {
    -webkit-animation: fa-spin-fast 0.2s infinite linear;
    animation: fa-spin-fast 0.2s infinite linear;
}

@-webkit-keyframes fa-spin-fast {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes fa-spin-fast {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

#members {
    margin-top: 65px;
}

.material-card {
    position: relative;
    height: 0;
    padding-bottom: calc(100% - 16px);
    margin-bottom: 6.6em;
}

.material-card h2 {
    position: absolute;
    top: calc(100% - 16px);
    left: 0;
    width: 100%;
    padding: 10px 16px;
    color: #00CC00;
    font-size: 1.4em;
    line-height: 1.6em;
    margin: 0;
    z-index: 10;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.material-card h2 span {
    display: block;
}

.material-card h2 strong {
    font-weight: 400;
    display: block;
    font-size: .8em;
}

.material-card h2:before,
.material-card h2:after {
    content: ' ';
    position: absolute;
    left: 0;
    top: -16px;
    width: 0;
    border: 8px solid;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.material-card h2:after {
    top: auto;
    bottom: 0;
}

@media screen and (max-width: 767px) {
    .material-card.mc-active {
        padding-bottom: 0;
        height: auto;
    }
}

.material-card.mc-active h2 {
    top: 0;
    padding: 10px 16px 10px 90px;
}

.material-card.mc-active h2:before {
    top: 0;
}

.material-card.mc-active h2:after {
    bottom: -16px;
}

.material-card .mc-content {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 16px;
    left: 16px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.material-card .mc-btn-action {
    position: absolute;
    right: 16px;
    top: 15px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid;
    width: 54px;
    height: 54px;
    line-height: 44px;
    text-align: center;
    color: #fff !important;
    cursor: pointer;
    z-index: 20;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.material-card.mc-active .mc-btn-action {
    top: 62px;
}

.material-card .mc-description {
    position: absolute;
    top: 100%;
    right: 30px;
    left: 30px;
    bottom: 54px;
    overflow: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 1.2s;
    -moz-transition: all 1.2s;
    -ms-transition: all 1.2s;
    -o-transition: all 1.2s;
    transition: all 1.2s;
    color: #00CC00;
}

.material-card .mc-footer {
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.material-card .mc-footer h4 {
    position: absolute;
    top: 200px;
    left: 30px;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    -webkit-transition: all 1.4s;
    -moz-transition: all 1.4s;
    -ms-transition: all 1.4s;
    -o-transition: all 1.4s;
    transition: all 1.4s;
}

.material-card .mc-footer a {
    display: block;
    float: left;
    position: relative;
    width: 52px;
    height: 52px;
    margin-left: 5px;
    margin-bottom: 15px;
    font-size: 28px;
    color: #fff;
    line-height: 52px;
    text-decoration: none;
    top: 200px;
}

.material-card .mc-footer a:nth-child(1) {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.material-card .mc-footer a:nth-child(2) {
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

.material-card .mc-footer a:nth-child(3) {
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}

.material-card .mc-footer a:nth-child(4) {
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}

.material-card .mc-footer a:nth-child(5) {
    -webkit-transition: all 0.9s;
    -moz-transition: all 0.9s;
    -ms-transition: all 0.9s;
    -o-transition: all 0.9s;
    transition: all 0.9s;
}

.material-card .img-container {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.material-card.mc-active .img-container {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    left: 0;
    top: 12px;
    width: 60px;
    height: 60px;
    z-index: 20;
}

.img-responsive {
    max-width: 100%;
}

.material-card.mc-active .mc-content {
    padding-top: 5.6em;
}

@media screen and (max-width: 767px) {
    .material-card.mc-active .mc-content {
        position: relative;
        margin-right: 16px;
    }
}

.material-card.mc-active .mc-description {
    top: 50px;
    padding-top: 5.6em;
    opacity: 1;
    filter: alpha(opacity=100);
}

@media screen and (max-width: 767px) {
    .material-card.mc-active .mc-description {
        position: relative;
        top: auto;
        right: auto;
        left: auto;
        padding: 50px 30px 70px 30px;
        bottom: 0;
    }
}

.material-card.mc-active .mc-footer {
    overflow: visible;
    position: absolute;
    top: calc(100% - 16px);
    left: 16px;
    right: 0;
    height: 82px;
    padding-top: 15px;
    padding-left: 25px;
}

.material-card.mc-active .mc-footer a {
    top: 0;
}

.material-card.mc-active .mc-footer h4 {
    top: -32px;
}

.material-card.Red h2 {
    background-color: #443266;
}

.material-card.Red h2:after {
    border-top-color: #443266;
    border-right-color: #443266;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.material-card.Red h2:before {
    border-top-color: transparent;
    border-right-color: rgba(68, 50, 102, 0.9);
    border-bottom-color: rgba(68, 50, 102, 0.9);
    border-left-color: transparent;
}

.material-card.Red.mc-active h2:before {
    border-top-color: transparent;
    border-right-color: #443266;
    border-bottom-color: #443266;
    border-left-color: transparent;
}

.material-card.Red.mc-active h2:after {
    border-top-color: rgba(68, 50, 102, 0.9);
    border-right-color: rgba(68, 50, 102, 0.9);
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.material-card.Red .mc-btn-action {
    background-color: #443266;
}

.material-card.Red .mc-btn-action:hover {
    background-color: #443266;
}

.material-card.Red .mc-footer h4 {
    color: rgba(68, 50, 102, 0.9);
}

.material-card.Red .mc-footer a {
    background-color: rgba(68, 50, 102, 0.9);
}

.material-card.Red.mc-active .mc-content {
    background-color: #000;
}

.material-card.Red.mc-active .mc-footer {
    background-color: rgba(68, 50, 102, 0.7);
}

.material-card.Red.mc-active .mc-btn-action {
    border-color: #FFEBEE;
}

.material-card.Blue-Grey h2 {
    background-color: #607D8B;
}

.material-card.Blue-Grey h2:after {
    border-top-color: #607D8B;
    border-right-color: #607D8B;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.material-card.Blue-Grey h2:before {
    border-top-color: transparent;
    border-right-color: #263238;
    border-bottom-color: #263238;
    border-left-color: transparent;
}

.material-card.Blue-Grey.mc-active h2:before {
    border-top-color: transparent;
    border-right-color: #607D8B;
    border-bottom-color: #607D8B;
    border-left-color: transparent;
}

.material-card.Blue-Grey.mc-active h2:after {
    border-top-color: #263238;
    border-right-color: #263238;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.material-card.Blue-Grey .mc-btn-action {
    background-color: #607D8B;
}

.material-card.Blue-Grey .mc-btn-action:hover {
    background-color: #263238;
}

.material-card.Blue-Grey .mc-footer h4 {
    color: #263238;
}

.material-card.Blue-Grey .mc-footer a {
    background-color: #263238;
}

.material-card.Blue-Grey.mc-active .mc-content {
    background-color: #ECEFF1;
}

.material-card.Blue-Grey.mc-active .mc-footer {
    background-color: #CFD8DC;
}

.material-card.Blue-Grey.mc-active .mc-btn-action {
    border-color: #ECEFF1;
}

.material-card.Pink h2 {
    background-color: #E91E63;
}

.material-card.Pink h2:after {
    border-top-color: #E91E63;
    border-right-color: #E91E63;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.material-card.Pink h2:before {
    border-top-color: transparent;
    border-right-color: #880E4F;
    border-bottom-color: #880E4F;
    border-left-color: transparent;
}

.material-card.Pink.mc-active h2:before {
    border-top-color: transparent;
    border-right-color: #E91E63;
    border-bottom-color: #E91E63;
    border-left-color: transparent;
}

.material-card.Pink.mc-active h2:after {
    border-top-color: #880E4F;
    border-right-color: #880E4F;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.material-card.Pink .mc-btn-action {
    background-color: #E91E63;
}

.material-card.Pink .mc-btn-action:hover {
    background-color: #880E4F;
}

.material-card.Pink .mc-footer h4 {
    color: #880E4F;
}

.material-card.Pink .mc-footer a {
    background-color: #880E4F;
}

.material-card.Pink.mc-active .mc-content {
    background-color: #FCE4EC;
}

.material-card.Pink.mc-active .mc-footer {
    background-color: #F8BBD0;
}

.material-card.Pink.mc-active .mc-btn-action {
    border-color: #FCE4EC;
}

.material-card.Purple h2 {
    background-color: #9C27B0;
}

.material-card.Purple h2:after {
    border-top-color: #9C27B0;
    border-right-color: #9C27B0;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.material-card.Purple h2:before {
    border-top-color: transparent;
    border-right-color: #4A148C;
    border-bottom-color: #4A148C;
    border-left-color: transparent;
}

.material-card.Purple.mc-active h2:before {
    border-top-color: transparent;
    border-right-color: #9C27B0;
    border-bottom-color: #9C27B0;
    border-left-color: transparent;
}

.material-card.Purple.mc-active h2:after {
    border-top-color: #4A148C;
    border-right-color: #4A148C;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.material-card.Purple .mc-btn-action {
    background-color: #9C27B0;
}

.material-card.Purple .mc-btn-action:hover {
    background-color: #4A148C;
}

.material-card.Purple .mc-footer h4 {
    color: #4A148C;
}

.material-card.Purple .mc-footer a {
    background-color: #4A148C;
}

.material-card.Purple.mc-active .mc-content {
    background-color: #F3E5F5;
}

.material-card.Purple.mc-active .mc-footer {
    background-color: #E1BEE7;
}

.material-card.Purple.mc-active .mc-btn-action {
    border-color: #F3E5F5;
}

.material-card.Deep-Purple h2 {
    background-color: #673AB7;
}

.material-card.Deep-Purple h2:after {
    border-top-color: #673AB7;
    border-right-color: #673AB7;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.material-card.Deep-Purple h2:before {
    border-top-color: transparent;
    border-right-color: #311B92;
    border-bottom-color: #311B92;
    border-left-color: transparent;
}

.material-card.Deep-Purple.mc-active h2:before {
    border-top-color: transparent;
    border-right-color: #673AB7;
    border-bottom-color: #673AB7;
    border-left-color: transparent;
}

.material-card.Deep-Purple.mc-active h2:after {
    border-top-color: #311B92;
    border-right-color: #311B92;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.material-card.Deep-Purple .mc-btn-action {
    background-color: #673AB7;
}

.material-card.Deep-Purple .mc-btn-action:hover {
    background-color: #311B92;
}

.material-card.Deep-Purple .mc-footer h4 {
    color: #311B92;
}

.material-card.Deep-Purple .mc-footer a {
    background-color: #311B92;
}

.material-card.Deep-Purple.mc-active .mc-content {
    background-color: #EDE7F6;
}

.material-card.Deep-Purple.mc-active .mc-footer {
    background-color: #D1C4E9;
}

.material-card.Deep-Purple.mc-active .mc-btn-action {
    border-color: #EDE7F6;
}

.material-card.Indigo h2 {
    background-color: #3F51B5;
}

.material-card.Indigo h2:after {
    border-top-color: #3F51B5;
    border-right-color: #3F51B5;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.material-card.Indigo h2:before {
    border-top-color: transparent;
    border-right-color: #1A237E;
    border-bottom-color: #1A237E;
    border-left-color: transparent;
}

.material-card.Indigo.mc-active h2:before {
    border-top-color: transparent;
    border-right-color: #3F51B5;
    border-bottom-color: #3F51B5;
    border-left-color: transparent;
}

.material-card.Indigo.mc-active h2:after {
    border-top-color: #1A237E;
    border-right-color: #1A237E;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.material-card.Indigo .mc-btn-action {
    background-color: #3F51B5;
}

.material-card.Indigo .mc-btn-action:hover {
    background-color: #1A237E;
}

.material-card.Indigo .mc-footer h4 {
    color: #1A237E;
}

.material-card.Indigo .mc-footer a {
    background-color: #1A237E;
}

.material-card.Indigo.mc-active .mc-content {
    background-color: #E8EAF6;
}

.material-card.Indigo.mc-active .mc-footer {
    background-color: #C5CAE9;
}

.material-card.Indigo.mc-active .mc-btn-action {
    border-color: #E8EAF6;
}

.material-card.Blue h2 {
    background-color: #2196F3;
}

.material-card.Blue h2:after {
    border-top-color: #2196F3;
    border-right-color: #2196F3;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.material-card.Blue h2:before {
    border-top-color: transparent;
    border-right-color: #0D47A1;
    border-bottom-color: #0D47A1;
    border-left-color: transparent;
}

.material-card.Blue.mc-active h2:before {
    border-top-color: transparent;
    border-right-color: #2196F3;
    border-bottom-color: #2196F3;
    border-left-color: transparent;
}

.material-card.Blue.mc-active h2:after {
    border-top-color: #0D47A1;
    border-right-color: #0D47A1;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.material-card.Blue .mc-btn-action {
    background-color: #2196F3;
}

.material-card.Blue .mc-btn-action:hover {
    background-color: #0D47A1;
}

.material-card.Blue .mc-footer h4 {
    color: #0D47A1;
}

.material-card.Blue .mc-footer a {
    background-color: #0D47A1;
}

.material-card.Blue.mc-active .mc-content {
    background-color: #E3F2FD;
}

.material-card.Blue.mc-active .mc-footer {
    background-color: #BBDEFB;
}

.material-card.Blue.mc-active .mc-btn-action {
    border-color: #E3F2FD;
}

.material-card.Light-Blue h2 {
    background-color: #03A9F4;
}

.material-card.Light-Blue h2:after {
    border-top-color: #03A9F4;
    border-right-color: #03A9F4;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.material-card.Light-Blue h2:before {
    border-top-color: transparent;
    border-right-color: #01579B;
    border-bottom-color: #01579B;
    border-left-color: transparent;
}

.material-card.Light-Blue.mc-active h2:before {
    border-top-color: transparent;
    border-right-color: #03A9F4;
    border-bottom-color: #03A9F4;
    border-left-color: transparent;
}

.material-card.Light-Blue.mc-active h2:after {
    border-top-color: #01579B;
    border-right-color: #01579B;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.material-card.Light-Blue .mc-btn-action {
    background-color: #03A9F4;
}

.material-card.Light-Blue .mc-btn-action:hover {
    background-color: #01579B;
}

.material-card.Light-Blue .mc-footer h4 {
    color: #01579B;
}

.material-card.Light-Blue .mc-footer a {
    background-color: #01579B;
}

.material-card.Light-Blue.mc-active .mc-content {
    background-color: #E1F5FE;
}

.material-card.Light-Blue.mc-active .mc-footer {
    background-color: #B3E5FC;
}

.material-card.Light-Blue.mc-active .mc-btn-action {
    border-color: #E1F5FE;
}

.material-card.Cyan h2 {
    background-color: #00BCD4;
}

.material-card.Cyan h2:after {
    border-top-color: #00BCD4;
    border-right-color: #00BCD4;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.material-card.Cyan h2:before {
    border-top-color: transparent;
    border-right-color: #006064;
    border-bottom-color: #006064;
    border-left-color: transparent;
}

.material-card.Cyan.mc-active h2:before {
    border-top-color: transparent;
    border-right-color: #00BCD4;
    border-bottom-color: #00BCD4;
    border-left-color: transparent;
}

.material-card.Cyan.mc-active h2:after {
    border-top-color: #006064;
    border-right-color: #006064;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.material-card.Cyan .mc-btn-action {
    background-color: #00BCD4;
}

.material-card.Cyan .mc-btn-action:hover {
    background-color: #006064;
}

.material-card.Cyan .mc-footer h4 {
    color: #006064;
}

.material-card.Cyan .mc-footer a {
    background-color: #006064;
}

.material-card.Cyan.mc-active .mc-content {
    background-color: #E0F7FA;
}

.material-card.Cyan.mc-active .mc-footer {
    background-color: #B2EBF2;
}

.material-card.Cyan.mc-active .mc-btn-action {
    border-color: #E0F7FA;
}

.material-card.Teal h2 {
    background-color: #009688;
}

.material-card.Teal h2:after {
    border-top-color: #009688;
    border-right-color: #009688;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.material-card.Teal h2:before {
    border-top-color: transparent;
    border-right-color: #004D40;
    border-bottom-color: #004D40;
    border-left-color: transparent;
}

.material-card.Teal.mc-active h2:before {
    border-top-color: transparent;
    border-right-color: #009688;
    border-bottom-color: #009688;
    border-left-color: transparent;
}

.material-card.Teal.mc-active h2:after {
    border-top-color: #004D40;
    border-right-color: #004D40;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.material-card.Teal .mc-btn-action {
    background-color: #009688;
}

.material-card.Teal .mc-btn-action:hover {
    background-color: #004D40;
}

.material-card.Teal .mc-footer h4 {
    color: #004D40;
}

.material-card.Teal .mc-footer a {
    background-color: #004D40;
}

.material-card.Teal.mc-active .mc-content {
    background-color: #E0F2F1;
}

.material-card.Teal.mc-active .mc-footer {
    background-color: #B2DFDB;
}

.material-card.Teal.mc-active .mc-btn-action {
    border-color: #E0F2F1;
}

.material-card.Green h2 {
    background-color: #4CAF50;
}

.material-card.Green h2:after {
    border-top-color: #4CAF50;
    border-right-color: #4CAF50;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.material-card.Green h2:before {
    border-top-color: transparent;
    border-right-color: #1B5E20;
    border-bottom-color: #1B5E20;
    border-left-color: transparent;
}

.material-card.Green.mc-active h2:before {
    border-top-color: transparent;
    border-right-color: #4CAF50;
    border-bottom-color: #4CAF50;
    border-left-color: transparent;
}

.material-card.Green.mc-active h2:after {
    border-top-color: #1B5E20;
    border-right-color: #1B5E20;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.material-card.Green .mc-btn-action {
    background-color: #4CAF50;
}

.material-card.Green .mc-btn-action:hover {
    background-color: #1B5E20;
}

.material-card.Green .mc-footer h4 {
    color: #1B5E20;
}

.material-card.Green .mc-footer a {
    background-color: #1B5E20;
}

.material-card.Green.mc-active .mc-content {
    background-color: #E8F5E9;
}

.material-card.Green.mc-active .mc-footer {
    background-color: #C8E6C9;
}

.material-card.Green.mc-active .mc-btn-action {
    border-color: #E8F5E9;
}

.material-card.Light-Green h2 {
    background-color: #8BC34A;
}

.material-card.Light-Green h2:after {
    border-top-color: #8BC34A;
    border-right-color: #8BC34A;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.material-card.Light-Green h2:before {
    border-top-color: transparent;
    border-right-color: #33691E;
    border-bottom-color: #33691E;
    border-left-color: transparent;
}

.material-card.Light-Green.mc-active h2:before {
    border-top-color: transparent;
    border-right-color: #8BC34A;
    border-bottom-color: #8BC34A;
    border-left-color: transparent;
}

.material-card.Light-Green.mc-active h2:after {
    border-top-color: #33691E;
    border-right-color: #33691E;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.material-card.Light-Green .mc-btn-action {
    background-color: #8BC34A;
}

.material-card.Light-Green .mc-btn-action:hover {
    background-color: #33691E;
}

.material-card.Light-Green .mc-footer h4 {
    color: #33691E;
}

.material-card.Light-Green .mc-footer a {
    background-color: #33691E;
}

.material-card.Light-Green.mc-active .mc-content {
    background-color: #F1F8E9;
}

.material-card.Light-Green.mc-active .mc-footer {
    background-color: #DCEDC8;
}

.material-card.Light-Green.mc-active .mc-btn-action {
    border-color: #F1F8E9;
}

.material-card.Lime h2 {
    background-color: #CDDC39;
}

.material-card.Lime h2:after {
    border-top-color: #CDDC39;
    border-right-color: #CDDC39;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.material-card.Lime h2:before {
    border-top-color: transparent;
    border-right-color: #827717;
    border-bottom-color: #827717;
    border-left-color: transparent;
}

.material-card.Lime.mc-active h2:before {
    border-top-color: transparent;
    border-right-color: #CDDC39;
    border-bottom-color: #CDDC39;
    border-left-color: transparent;
}

.material-card.Lime.mc-active h2:after {
    border-top-color: #827717;
    border-right-color: #827717;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.material-card.Lime .mc-btn-action {
    background-color: #CDDC39;
}

.material-card.Lime .mc-btn-action:hover {
    background-color: #827717;
}

.material-card.Lime .mc-footer h4 {
    color: #827717;
}

.material-card.Lime .mc-footer a {
    background-color: #827717;
}

.material-card.Lime.mc-active .mc-content {
    background-color: #F9FBE7;
}

.material-card.Lime.mc-active .mc-footer {
    background-color: #F0F4C3;
}

.material-card.Lime.mc-active .mc-btn-action {
    border-color: #F9FBE7;
}

.material-card.Yellow h2 {
    background-color: #FFEB3B;
}

.material-card.Yellow h2:after {
    border-top-color: #FFEB3B;
    border-right-color: #FFEB3B;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.material-card.Yellow h2:before {
    border-top-color: transparent;
    border-right-color: #F57F17;
    border-bottom-color: #F57F17;
    border-left-color: transparent;
}

.material-card.Yellow.mc-active h2:before {
    border-top-color: transparent;
    border-right-color: #FFEB3B;
    border-bottom-color: #FFEB3B;
    border-left-color: transparent;
}

.material-card.Yellow.mc-active h2:after {
    border-top-color: #F57F17;
    border-right-color: #F57F17;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.material-card.Yellow .mc-btn-action {
    background-color: #FFEB3B;
}

.material-card.Yellow .mc-btn-action:hover {
    background-color: #F57F17;
}

.material-card.Yellow .mc-footer h4 {
    color: #F57F17;
}

.material-card.Yellow .mc-footer a {
    background-color: #F57F17;
}

.material-card.Yellow.mc-active .mc-content {
    background-color: #FFFDE7;
}

.material-card.Yellow.mc-active .mc-footer {
    background-color: #FFF9C4;
}

.material-card.Yellow.mc-active .mc-btn-action {
    border-color: #FFFDE7;
}

.material-card.Amber h2 {
    background-color: #FFC107;
}

.material-card.Amber h2:after {
    border-top-color: #FFC107;
    border-right-color: #FFC107;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.material-card.Amber h2:before {
    border-top-color: transparent;
    border-right-color: #FF6F00;
    border-bottom-color: #FF6F00;
    border-left-color: transparent;
}

.material-card.Amber.mc-active h2:before {
    border-top-color: transparent;
    border-right-color: #FFC107;
    border-bottom-color: #FFC107;
    border-left-color: transparent;
}

.material-card.Amber.mc-active h2:after {
    border-top-color: #FF6F00;
    border-right-color: #FF6F00;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.material-card.Amber .mc-btn-action {
    background-color: #FFC107;
}

.material-card.Amber .mc-btn-action:hover {
    background-color: #FF6F00;
}

.material-card.Amber .mc-footer h4 {
    color: #FF6F00;
}

.material-card.Amber .mc-footer a {
    background-color: #FF6F00;
}

.material-card.Amber.mc-active .mc-content {
    background-color: #FFF8E1;
}

.material-card.Amber.mc-active .mc-footer {
    background-color: #FFECB3;
}

.material-card.Amber.mc-active .mc-btn-action {
    border-color: #FFF8E1;
}

.material-card.Orange h2 {
    background-color: #FF9800;
}

.material-card.Orange h2:after {
    border-top-color: #FF9800;
    border-right-color: #FF9800;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.material-card.Orange h2:before {
    border-top-color: transparent;
    border-right-color: #E65100;
    border-bottom-color: #E65100;
    border-left-color: transparent;
}

.material-card.Orange.mc-active h2:before {
    border-top-color: transparent;
    border-right-color: #FF9800;
    border-bottom-color: #FF9800;
    border-left-color: transparent;
}

.material-card.Orange.mc-active h2:after {
    border-top-color: #E65100;
    border-right-color: #E65100;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.material-card.Orange .mc-btn-action {
    background-color: #FF9800;
}

.material-card.Orange .mc-btn-action:hover {
    background-color: #E65100;
}

.material-card.Orange .mc-footer h4 {
    color: #E65100;
}

.material-card.Orange .mc-footer a {
    background-color: #E65100;
}

.material-card.Orange.mc-active .mc-content {
    background-color: #FFF3E0;
}

.material-card.Orange.mc-active .mc-footer {
    background-color: #FFE0B2;
}

.material-card.Orange.mc-active .mc-btn-action {
    border-color: #FFF3E0;
}

.material-card.Deep-Orange h2 {
    background-color: #FF5722;
}

.material-card.Deep-Orange h2:after {
    border-top-color: #FF5722;
    border-right-color: #FF5722;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.material-card.Deep-Orange h2:before {
    border-top-color: transparent;
    border-right-color: #BF360C;
    border-bottom-color: #BF360C;
    border-left-color: transparent;
}

.material-card.Deep-Orange.mc-active h2:before {
    border-top-color: transparent;
    border-right-color: #FF5722;
    border-bottom-color: #FF5722;
    border-left-color: transparent;
}

.material-card.Deep-Orange.mc-active h2:after {
    border-top-color: #BF360C;
    border-right-color: #BF360C;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.material-card.Deep-Orange .mc-btn-action {
    background-color: #FF5722;
}

.material-card.Deep-Orange .mc-btn-action:hover {
    background-color: #BF360C;
}

.material-card.Deep-Orange .mc-footer h4 {
    color: #BF360C;
}

.material-card.Deep-Orange .mc-footer a {
    background-color: #BF360C;
}

.material-card.Deep-Orange.mc-active .mc-content {
    background-color: #FBE9E7;
}

.material-card.Deep-Orange.mc-active .mc-footer {
    background-color: #FFCCBC;
}

.material-card.Deep-Orange.mc-active .mc-btn-action {
    border-color: #FBE9E7;
}

.material-card.Brown h2 {
    background-color: #795548;
}

.material-card.Brown h2:after {
    border-top-color: #795548;
    border-right-color: #795548;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.material-card.Brown h2:before {
    border-top-color: transparent;
    border-right-color: #3E2723;
    border-bottom-color: #3E2723;
    border-left-color: transparent;
}

.material-card.Brown.mc-active h2:before {
    border-top-color: transparent;
    border-right-color: #795548;
    border-bottom-color: #795548;
    border-left-color: transparent;
}

.material-card.Brown.mc-active h2:after {
    border-top-color: #3E2723;
    border-right-color: #3E2723;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.material-card.Brown .mc-btn-action {
    background-color: #795548;
}

.material-card.Brown .mc-btn-action:hover {
    background-color: #3E2723;
}

.material-card.Brown .mc-footer h4 {
    color: #3E2723;
}

.material-card.Brown .mc-footer a {
    background-color: #3E2723;
}

.material-card.Brown.mc-active .mc-content {
    background-color: #EFEBE9;
}

.material-card.Brown.mc-active .mc-footer {
    background-color: #D7CCC8;
}

.material-card.Brown.mc-active .mc-btn-action {
    border-color: #EFEBE9;
}

.material-card.Grey h2 {
    background-color: #9E9E9E;
}

.material-card.Grey h2:after {
    border-top-color: #9E9E9E;
    border-right-color: #9E9E9E;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.material-card.Grey h2:before {
    border-top-color: transparent;
    border-right-color: #212121;
    border-bottom-color: #212121;
    border-left-color: transparent;
}

.material-card.Grey.mc-active h2:before {
    border-top-color: transparent;
    border-right-color: #9E9E9E;
    border-bottom-color: #9E9E9E;
    border-left-color: transparent;
}

.material-card.Grey.mc-active h2:after {
    border-top-color: #212121;
    border-right-color: #212121;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.material-card.Grey .mc-btn-action {
    background-color: #9E9E9E;
}

.material-card.Grey .mc-btn-action:hover {
    background-color: #212121;
}

.material-card.Grey .mc-footer h4 {
    color: #212121;
}

.material-card.Grey .mc-footer a {
    background-color: #212121;
}

.material-card.Grey.mc-active .mc-content {
    background-color: #FAFAFA;
}

.material-card.Grey.mc-active .mc-footer {
    background-color: #F5F5F5;
}

.material-card.Grey.mc-active .mc-btn-action {
    border-color: #FAFAFA;
}

.material-card.Blue-Grey h2 {
    background-color: #607D8B;
}

.material-card.Blue-Grey h2:after {
    border-top-color: #607D8B;
    border-right-color: #607D8B;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.material-card.Blue-Grey h2:before {
    border-top-color: transparent;
    border-right-color: #263238;
    border-bottom-color: #263238;
    border-left-color: transparent;
}

.material-card.Blue-Grey.mc-active h2:before {
    border-top-color: transparent;
    border-right-color: #607D8B;
    border-bottom-color: #607D8B;
    border-left-color: transparent;
}

.material-card.Blue-Grey.mc-active h2:after {
    border-top-color: #263238;
    border-right-color: #263238;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.material-card.Blue-Grey .mc-btn-action {
    background-color: #607D8B;
}

.material-card.Blue-Grey .mc-btn-action:hover {
    background-color: #263238;
}

.material-card.Blue-Grey .mc-footer h4 {
    color: #263238;
}

.material-card.Blue-Grey .mc-footer a {
    background-color: #263238;
}

.material-card.Blue-Grey.mc-active .mc-content {
    background-color: #ECEFF1;
}

.material-card.Blue-Grey.mc-active .mc-footer {
    background-color: #CFD8DC;
}

.material-card.Blue-Grey.mc-active .mc-btn-action {
    border-color: #ECEFF1;
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

h3.galleryHeader {
    color: #fff !important;
}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (
    
xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/


/*Device Under 992 (lg)*/

@media(max-width:991px) {
    .caption h1 {
        font-size: 3.5rem;
        letter-spacing: .2rem;
        padding-bottom: .8rem;
    }
    .caption h3 {
        font-size: 2.2rem;
        padding-bottom: 1.7rem;
    }
    .btn-lg {
        padding: .7rem 1.2rem;
        font-size: 1rem;
    }
    .narrow h1 {
        font-size: 2.1rem;
    }
}


/*Device Under 768 (md)*/

@media(max-width:767px) {
    .caption h1 {
        font-size: 2.7rem;
        letter-spacing: .15rem;
        padding-bottom: .5rem;
    }
    .caption h3 {
        font-size: 1.7rem;
        padding-bottom: 1.2rem;
        letter-spacing: .3rem;
    }
    .btn-lg {
        padding: .6rem 1.1rem;
        font-size: 1rem;
    }
    .narrow h1 {
        font-size: 1.8rem;
    }
    #fixed {
        background-image: url('img/fixed/apple-mobile.png');
    }
    #fixed-2 {
        background-image: url('img/fixed/office-mobile.png');
    }
    footer {
        background: url('img/footer/footer-mobile.png') no-repeat;
    }
    .clients img {
        max-width: 50%;
        margin: 0 auto;
    }
    /*.top-scroll{
        display: none !important 
    }*/
    .navbar-brand b {
        display: block;
        font-size: 70%;
        line-height: 1;
        color: #00CC00;
    }
    .navbar-brand span {
        font-size: 15px;
        font-weight: 100;
        display: inline-block;
        vertical-align: middle;
        padding: 0 0 0 2px;
    }
    .dropdown-item {
        color: #fff !important;
        font-size: 0.8rem !important;
        font-weight: 100 !important;
    }
}


/*Device Under 576 (lg)*/

@media(max-width:575px) {
    .caption h1 {
        font-size: 1.9rem;
        letter-spacing: .1rem;
        padding-bottom: .4rem;
    }
    .caption h3 {
        font-size: 1.4rem;
        padding-bottom: 1rem;
        letter-spacing: .3rem;
        font-weight: 700;
    }
    .btn-lg {
        padding: .4rem .9rem;
        font-size: .9rem;
    }
    .narrow {
        width: 85%;
    }
    .navbar-brand b {
        display: block;
        font-size: 80%;
        color: #00CC00;
        font-weight: 400;
    }
    .navbar-brand span {
        font-size: 15px;
        font-weight: 200;
        display: inline-block;
        vertical-align: middle;
        padding: 0 0 0 2px;
    }
    .navbar-brand img {
        height: 3rem;
    }
    footer {
        background: #443266;
        color: #00CC00;
    }
    .container .product {
        margin-left: 20px;
    }
    .dropdown-item {
        color: #fff !important;
        font-size: 0.8rem !important;
        font-weight: 100 !important;
    }
}